.morse-icon, .braille-icon {
    position: absolute;
    left: 16px;
    font-size: 200%;
    opacity: 0.5;
}

.morse-icon {
    top: 6px;
}

.braille-icon {
    top: 66px;
}

.icon-button {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.icon-button:hover {
    background-color: lightgray;
}

.selected {
    background-color: lightgray;
    opacity: 0.6;
}