@page "/"
@using BlazorMorse.Domain
@inject IJSRuntime JSRuntime

<span class="fas fa-braille brai braille-icon" @onclick="() => SetOutput(Output.Braille)"></span>
<span class="fas fa-ellipsis-h morse-icon" @onclick="() => SetOutput(Output.Morse)"></span>

@if (Output is Output.Morse)
{
    <Morse/>
}
else if (Output is Output.Braille)
{
    <div class="centered">
        <label>
            <input/><span class="fas fa-arrow-alt-circle-right send-button"></span>
        </label>
    </div>
}

@code {
    private Output Output = Output.Morse;

    private void SetOutput(Output output)
    {
        Output = output;
    }
}
