@page "/"
@using BlazorMorse.Domain
@inject IJSRuntime JSRuntime


<span class="fas fa-braille brai braille-icon icon-wrapper" @onclick="() => SetOutput(Output.Braille)"></span>
<span class="fas fa-ellipsis-h morse-icon icon-wrapper" @onclick="() => SetOutput(Output.Morse)"></span>


@if (Output is Output.Morse)
{
    <Morse/>
}
else if (Output is Output.Braille)
{
    <Braille/>
}

@code {
    private Output Output = Output.Morse;

    private void SetOutput(Output output)
    {
        Output = output;
    }
}
