.morse-icon, .braille-icon {
    position: absolute;
    left: 16px;
    font-size: 300%;
    opacity: 0.5;
}

.morse-icon {
    top: 6px;
}

.braille-icon {
    top: 66px;
}

.icon-wrapper {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    width: 4%;
    text-align: center;
}

.icon-wrapper:hover {
    border-width: 2px;
}