@page "/"
@using BlazorMorse.Domain
@inject IJSRuntime JSRuntime

<div class="braille-icon icon-button @(Output == Output.Braille ? "selected" : "")" @onclick="() => SetOutput(Output.Braille)"><i class="fas fa-braille"></i> BRAILLE</div>
<div class="morse-icon icon-button @(Output == Output.Morse ? "selected" : "")" @onclick="() => SetOutput(Output.Morse)"><i class="fas fa-ellipsis-h"></i> MORSE</div>

@if (Output is Output.Morse)
{
    <Morse/>
}
else if (Output is Output.Braille)
{
    <Braille/>
}

@code {
    private Output Output = Output.Morse;

    private void SetOutput(Output output)
    {
        Output = output;
    }
}
